<div class="container">
  <div class="row">
    <div class="col my-4">
      <h2>Illegal move</h2>
      <p>
        There is no resource at this location.
      </p>
      <iframe src="https://lichess.org/tv/frame?theme=wood&amp;bg=light" style="width: 400px; height: 444px;" allowtransparency="true" frameborder="0"></iframe>
      <p>
        <div>
          Join <a href="https://groups.google.com/forum/#!forum/thegapchessclub">The Gap Chess Club mailing list</a> for announcements.
        </div>
      </p>
    </div>

  </div>
</div>
