<div class="container">
  <div class="row">
    <div class="col my-4">
      <h2>Contact</h2>
      <p>
        If you'd like to contact The Gap Chess Club team or find us on the interwebs.
      </p>
      <ul class="list-group tgcc-border">
        <li class="list-group-item tgcc-border">
          <span class="tgcc-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-at fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">Email</span>
            <a href="mailto:contact@thegapchessclub.org.au">contact@thegapchessclub.org.au</a>

        </li>
        <li class="list-group-item tgcc-border">
          <span class="tgcc-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">IRC</span>
          <a href="irc://irc.freenode.net/#thegapchessclub">Freenode: #thegapchessclub</a> (<a href="http://webchat.freenode.net?randomnick=1&amp;channels=%23thegapchessclub&amp;uio=d4">instant chat window</a>)
        </li>
        <li class="list-group-item tgcc-border">
          <span class="tgcc-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">Facebook</span>
          <a href="https://www.facebook.com/thegapchessclub/">https://www.facebook.com/thegapchessclub/</a>
        </li>
        <li class="list-group-item tgcc-border">
          <span class="tgcc-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">Gitlab</span>
          <a href="https://gitlab.com/thegapchessclub">https://gitlab.com/thegapchessclub</a>
        </li>
      </ul>
      <p>
        <div>
          Join <a href="https://groups.google.com/forum/#!forum/thegapchessclub">The Gap Chess Club mailing list</a> for announcements.
        </div>
      </p>
    </div>

  </div>
</div>
