  </div>
<div class="container my-4">
  <div class="row">
    <div class="col">

      <h6 class="display-6 text-right">
        looking for <a href="http://old.thegapchessclub.org.au/">the old website?</a>
      </h6>

      <h1 class="display-4 text-center">
        The Gap Chess Club
      </h1>
      <div style="background:#FFA500">
        <h1 class="display-5 text-center">
          Marcus Porter Memorial - 1 November 2024</a><br>
        </h1>
        <h1 class="display-5 text-center">
          Venue: Marist College, Ashgrove.
        </h1>
        <h1 class="display-6 text-center">
          Details: <a href="https://caq.org.au/coming-events/">CAQ Coming Events</a>
        </h1 class="display-6 text-center">
          </a><br>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container my-2">
  <div class="row">

    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title tgcc-bottom-line">Meets on Friday evenings</h5>
            <p class="card-text">The Gap Chess Club meets at The Gap State High School as per the <a href="https://old.thegapchessclub.org.au/current.htm">club calendar.</p>
            <p>Lost? <a href="/location">location</a></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title tgcc-bottom-line">Tournaments</h5>
            <p class="card-text">
              The club conducts regular chess tournaments.
            </p>
            <p class="card-text">
              Tournament entry is $$20 for the three classically rated tournaments, plus CAQ membership is required. This fee covers night fees during the tournament.
            </p>
            <p class="card-text">
              The three tournaments are: (1) Flood Cup; (2) Stuart Wilson Trophy; (3) Martin Laizans Cup.
              </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title tgcc-bottom-line">Fees 2024</h5>
            <p class="card-text">
              <ul>
                <li>Yearly
                  <ul>
                    <li>Club Membership $$20</li>
                    <li>CAQ Membership $$20</li>
                    </ul>
                </li>
                <li>
                  Nightly
                  <ul>
                    <li>$$5 member</li>
                    <li>== or $$20 per tournament
                    <li>$$10 non-member</li>
                  </ul>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>
    <h5 class="display-5 text-right">
      <a href="share/Application_Form_2024_TheGapChessClubInc.pdf">club membership form</a>
    </h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="section-header text-left">
      <h3 class="tgcc-bottom-line">Recent posts</h3>
    </div>
    $partial("templates/post-list.html")$
    <a class="btn tgcc-green text-white p-2 my-2" href="/archive">
      <span> View the Archive for more </span>
    </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="section-header text-left">
      <h3 class="tgcc-bottom-line">Tournament Schedule</h3>
      <h5 class="display-5 text-right"><a href="http://schedule.thegapchessclub.org.au/thegapchessclub-schedule.ics">calendar (ics)</a></h5>
      <iframe src="https://calendar.google.com/calendar/embed?src=n7a19imddtdbo997h7fe270ii0hmmoum%40import.calendar.google.com&amp;ctz=Australia%2FBrisbane&amp;height=450&amp;wkst=1&amp;bgcolor=%23ffffff&amp;showTitle=0" style="border: 0" width="1110" height="450" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="section-header text-left">
        <h3 class="tgcc-bottom-line">lichess.org daily puzzle</h3>
      </div>
      <div>
        <iframe src="https://lichess.org/training/frame?theme=wood&amp;bg=light" style="width: 400px; height: 444px;" allowtransparency="true" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
  <div class="col my-4">
      <div class="section-header">
        <h3 class="tgcc-bottom-line">Club Profile</h3>
      </div>
      <p>
        The Gap Chess Club was formed in the late 1960s. It has been a fixture of the Brisbane chess scene ever since, regularly competing in the Brisbane interclub scene, and conducted regular club tournaments since 1978. As well as tournament play, the club encourages social chess among all age groups. Members of the club contribute to providing a good social atmosphere that is welcoming to new players of all levels of chess competency.
      </p>
      <p>
        The club meets on Friday nights at The Gap State High School, Brisbane.
      </p>
      <p>
        The Gap Chess Club is affiliated with the Chess Association of Queensland (CAQ). The club runs regular tournaments which are rated by the Australian Chess Federation (ACF).
      </p>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col my-4">
      <div class="section-header text-left">
        <h3 class="tgcc-bottom-line">Chess Organisations</h3>
      </div>

      <ul>
        <li><a href="http://caq.org.au/">Chess Association of Queensland</a></li>
        <li><a href="http://www.auschess.org.au/">Australian Chess Federation</a></li>
        <li><a href="http://www.fide.com/">World Chess Federation, FIDE</a></li>
      </ul>
    </div>
  </div>
</div>
